.btn-primary,
.btn-success,
.btn-secondary {
  font-size: 0.875rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  
  border: none;
  border-radius: 15px;
  padding: 8px;
  
  .button-text {
    line-height: 1.2;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.btn-primary {
  background-color: #f5a623;
  color: black;
}

.btn-secondary {
  background-color: transparent;
  color: #ff8000;
  border: 2px solid #ff8000;
  border-radius: 20px;
}

.btn-secondary img {
  filter: brightness(0) saturate(100%) invert(44%) sepia(100%) saturate(750%)
    hue-rotate(9deg) brightness(96%) contrast(97%);
}

.btn-success {
  background-color: #379100;
  color: white;
}

button:disabled {
  opacity: 0.5;
}

@media (max-width: 576px) {
  .btn-primary,
  .btn-success,
  .btn-secondary {
    font-size: 0.75rem;
    padding: 0.5rem;
  }
}
