<div class="password-validation">
  <small class="d-block" [ngClass]="hasMinLengthError ? 'text-danger' : 'text-success'" *ngIf="showMessages">
    <i [class]="hasMinLengthError ? 'fas fa-times' : 'fas fa-check'"></i>
    Mínimo de 8 caracteres
  </small>
  <small class="d-block" [ngClass]="hasUpperCaseError ? 'text-danger' : 'text-success'" *ngIf="showMessages">
    <i [class]="hasUpperCaseError ? 'fas fa-times' : 'fas fa-check'"></i>
    Pelo menos uma letra maiúscula
  </small>
  <small class="d-block" [ngClass]="hasLowerCaseError ? 'text-danger' : 'text-success'" *ngIf="showMessages">
    <i [class]="hasLowerCaseError ? 'fas fa-times' : 'fas fa-check'"></i>
    Pelo menos uma letra minúscula
  </small>
  <small class="d-block" [ngClass]="hasNumericError ? 'text-danger' : 'text-success'" *ngIf="showMessages">
    <i [class]="hasNumericError ? 'fas fa-times' : 'fas fa-check'"></i>
    Pelo menos um número
  </small>
  <small class="d-block" [ngClass]="hasSpecialCharError ? 'text-danger' : 'text-success'" *ngIf="showMessages">
    <i [class]="hasSpecialCharError ? 'fas fa-times' : 'fas fa-check'"></i>
    Pelo menos um caractere especial (!&#64;#$%^&*)
  </small>
</div> 