<div
  class="card-training bg-white rounded d-flex justify-content-between align-items-center mb-3 p-3"
  (click)="onExerciseClick()"
>
  <div class="d-flex align-items-center w-100">
    <div class="exercise-info w-100">
      <h3 class="exercise-name text-truncate">{{ exercise.exercise_name }}</h3>

      <div class="exercise-details d-flex flex-wrap gap-3 mt-2">
        <div class="text-center">
          <span class="value fw-bold d-block">{{ exercise.series }}</span>
          <span class="label text-secondary small">SERIES</span>
        </div>

        <div class="text-center">
          <span class="value fw-bold d-block" *ngIf="exercise.repetitions.length > 0">{{
            formatRepetitions(exercise.repetitions)
          }}</span>
          <span
            *ngIf="exercise.methodology"
            class="methodology font-family-poppins fw-semibold text-white d-block"
          >
            {{ formatMethodology(exercise.methodology) }}
          </span>
          <span class="label text-secondary small">MÉTODO</span>
        </div>

        <div class="text-center">
          <span class="value fw-bold d-block">{{ exercise.weight || 0 }}kg</span>
          <span class="label text-secondary small">CARGA</span>
        </div>
      </div>
    </div>
    <div class="exercise-status ms-2">
      <div class="form-check form-switch">
        <input
          *ngIf="!isAdmin"
          class="form-check-input"
          type="checkbox"
          role="switch"
          [checked]="isExerciseCompleted || isTrainingCompleted"
          (click)="onToggleExercise($event)"
          [disabled]="
            isTrainingCompleted ||
            !isTrainingStarted ||
            isTrainingPaused ||
            isOtherTrainingActive
          "
          [ngClass]="{
            'bg-success border-success': isExerciseCompleted || isTrainingCompleted,
            disabled:
              !isTrainingStarted || isTrainingPaused || isOtherTrainingActive
          }"
        />
      </div>
    </div>
  </div>
</div>
