.card-training {
  border-radius: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  min-height: 90px;
  transition: transform 0.2s, box-shadow 0.2s;

  .exercise-name {
    font-size: 1rem;
    font-weight: 600;
    color: #262525;
    margin-bottom: 0.5rem;
  }

  .exercise-details {
    .value {
      font-size: 0.9rem;
    }

    .label {
      font-size: 0.75rem;
    }
  }

  .methodology {
    font-size: 0.8rem;
    background-color: #FF9349;
    padding: 2px 5px;
    border-radius: 4px;
  }
  
  .form-check-input {
    width: 2.5em;
    height: 1.25em;
  }
  
  @media (max-width: 576px) {
    .exercise-details {
      .value {
        font-size: 0.8rem;
      }
      
      .label {
        font-size: 0.7rem;
      }
    }
    
    .exercise-name {
      font-size: 0.9rem;
    }
  }
}
