@import "../../../shared/styles/variables.scss";

.members-container {
  .member-card {
    background: $gym-members-list-background;
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.6);
    grid-template-columns: 100px 1fr;
    cursor: pointer;

    .profile-pic-container {
      border-radius: 16px 0 0 16px;
      overflow: hidden;
    }

    .profile-pic {
      object-fit: cover;
    }

    .member-details {
      overflow: hidden;

      h2 {
        color: #f5a623;
        font-size: 1.125rem;

        @media (max-width: 576px) {
          font-size: 1rem;
        }
      }

      .contact-info {
        color: #6c7072;

        span {
          font-size: 0.875rem;

          @media (max-width: 576px) {
            font-size: 0.75rem;
          }

          i {
            color: #f5a623;
            font-size: 1rem;
          }
        }
      }
    }
  }
}
