<app-header title="Alunos"></app-header>

<div class="members-container container-fluid px-3 py-4">
  <div class="row">
    <div class="col-12">
      <div class="d-flex flex-column gap-3">
        <div
          class="member-card d-grid"
          *ngFor="let member of members$ | async"
          (click)="goToMemberView(member.id)"
        >
          <div class="profile-pic-container w-100 h-100 d-flex align-items-center justify-content-center">
            <img
              [src]="member.profile_image || 'assets/images/default-user-profile.png'"
              alt="Foto do perfil"
              class="profile-pic w-100 h-100"
              onerror="this.src='assets/images/default-user-profile.png'"
            />
          </div>
          <div class="member-details d-flex flex-column gap-2 p-3">
            <h2 class="font-family-poppins text-white text-truncate mb-0">{{ member.username }}</h2>
            <div class="contact-info d-flex flex-column gap-2">
              <span class="d-flex align-items-center gap-1 font-light font-family-poppins text-white text-truncate">
                <i class="fas fa-phone me-2"></i>
                <span class="text-truncate">{{ member.telephone || "Não informado" }}</span>
              </span>
              <span class="d-flex align-items-center gap-1 font-light font-family-poppins text-white text-truncate">
                <i class="fas fa-envelope me-2"></i>
                <span class="text-truncate">{{ member.email || "Não informado" }}</span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
