<app-header title="Meus treinos"> </app-header>
<div class="container-fluid px-3 py-4">
  <div class="row">
    <div class="col-12">
      <app-filter (filterChanged)="onFilterChanged($event)"></app-filter>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-12">
      <p class="font-family-poppins text-white">Treinos cadastrados</p>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <ng-container *ngFor="let training of filteredTrainings$ | async">
        <div
          class="card-training d-flex justify-content-between align-items-center mb-3 bg-white"
          [routerLink]="['/general/training', training.id]"
        >
          <div class="d-flex align-items-center">
            <img [src]="'assets/images/default-training-' + currentUser.gender + '.jpg'" class="me-3" />
            <h3 class="font-family-poppins fw-bold mb-0">
              {{ training.name.toLocaleUpperCase() }}
            </h3>
          </div>
          <i class="fas fa-solid fa-arrow-right"></i>
        </div>
      </ng-container>
    </div>
  </div>
</div>
