<div class="challenge-container mb-4">
  <app-challenge-card [challenge]="challenge"></app-challenge-card>

  <div class="challenge-action p-3">
    <div class="d-flex align-items-center justify-content-between">
      <p class="mb-0 font-family-poppins text-white fw-semibold">
        DESAFIO -
        {{
          challenge.difficulty === "1"
            ? "INICIANTE"
            : challenge.difficulty === "2"
            ? "INTERMEDIÁRIO"
            : "AVANÇADO"
        }}
      </p>
      <div class="d-flex align-items-center justify-content-end">
        <app-button
          *ngIf="!isAdmin"
          [label]="completed ? 'Concluído' : 'Concluir'"
          (clicked)="completeChallengeClick(challenge.id)"
          buttonClass="btn-success"
          [disabled]="completed"
        ></app-button>
      </div>
    </div>
  </div>
</div>
