.challenge-card {
  height: 6.875rem;

  &.difficulty-beginner-background {
    background-color: #c6e4d2;
  }

  &.difficulty-intermediate-background {
    background-color: #fdeabc;
  }

  &.difficulty-advanced-background {
    background-color: #ffd5ba;
  }

  .challenge-content {
    width: 55%;
    z-index: 1;
  }

  .challenge-title {
    font-size: 1rem;
    color: #333;
  }

  .challenge-description {
    font-size: 0.75rem;
    color: #666;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .difficulty {
    font-size: 0.5625rem;
  }

  .dificulty-container {
    width: fit-content;

    &.difficulty-beginner-tag {
      background-color: #017e31;
    }

    &.difficulty-intermediate-tag {
      background-color: #f09600;
    }

    &.difficulty-background-tag {
      background-color: #ff4800;
    }
  }
  
  .challenge-image-container {
    width: 45%;
    
    .challenge-image {
      object-fit: cover;
    }
  }
}

@media (max-width: 768px) {
  .challenge-card {
    .challenge-content {
      width: 60%;
    }
    
    .challenge-image-container {
      width: 40%;
    }
    
    .challenge-title {
      font-size: 0.875rem;
    }
    
    .challenge-description {
      font-size: 0.7rem;
      -webkit-line-clamp: 2;
      line-clamp: 2;
    }
  }
}

@media (max-width: 576px) {
  .challenge-card {
    height: 5.5rem;
    
    .challenge-content {
      width: 65%;
    }
    
    .challenge-image-container {
      width: 35%;
    }
    
    .challenge-title {
      font-size: 0.75rem;
    }
    
    .challenge-description {
      font-size: 0.625rem;
      -webkit-line-clamp: 2;
      line-clamp: 2;
    }
    
    .dificulty-container {
      padding: 0.15rem 0.3rem;
    }
    
    .difficulty {
      font-size: 0.5rem;
    }
  }
}
