<div class="trainings">
  <div
    class="trainings-header d-flex align-items-center mb-3"
    [class.justify-content-between]="isPersonal"
  >
    <div class="d-flex align-items-center gap-2">
      <i
        *ngIf="showTodayTraining"
        class="fas fa-solid fa-fire-flame-curved text-warning"
      ></i>
      <h1
        class="m-0 font-family-poppins fw-semibold text-white"
      >
        {{ title }}
      </h1>
    </div>
    <div 
      class="see-all d-flex align-items-center font-family-poppins fw-semibold"
      *ngIf="isPersonal"
      routerLink="/personal/trainings"
    >
      <span>Ver todos</span>
      <i class="fas fa-solid fa-caret-right ms-1"></i>
    </div>
  </div>

  <div class="d-flex flex-column gap-4">
    <ng-container *ngIf="trainings.length > 0; else noTrainings">
      <ng-container *ngFor="let training of trainings">
        <app-card
          *ngIf="showTodayTraining ? training.todayTraining : true"
          [title]="training.name.toLocaleUpperCase() || ''"
          [duration]="
            training.last_duration || training.duration
              ? formatDuration(
                  training.last_duration || training.duration.toString()
                )
              : ''
          "
          imageSrc="assets/images/default-training-profile.png"
          size="large"
          [routerLink]="[
            '/general/training',
            training.origin_trainingID || training.id
          ]"
          [showButton]="showButton"
          [validity]="
            !isPersonal ? formatDate(training.expire_date) : undefined
          "
        ></app-card>
      </ng-container>
    </ng-container>

    <ng-template #noTrainings>
      <p class="text-white font-family-poppins">Nenhum treino encontrado</p>
    </ng-template>
  </div>
</div>
